.headercontainer {
    width:1180px;
    height: 200px;
    background-position: absolute;
    background-size:absolute;
    opacity: 1px;
    top: 32px;
    border-bottom-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #E6E8EC;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 1140px;
}

.logo{
    width: 36px;
    height: 36px;
    opacity: 1;
    margin-top: 36px;
    margin-left:96px;
}

.logo-name{
    font-family: 'inter', sans-serif;
    font-weight: 800;
    font-style:  Bold;
    width:107px;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 1px;
    vertical-align: middle;
    margin-top: 36px;
    margin-left:130px;
}



.user-icon{
    width: 24px;
    height: 24px;
    display: flex;
    margin-top: 36px;
    margin-left: 40px;
    
}

.icons{
width: 29px;
height: 26px;
background-color: transparent;
border: none;
margin-right: 5px;

}

.button{
    background-color: transparent;
    border: none;
}

.iconsEng{
    width: 32px;
    height: 20px;
    

}

.container-2{
    width: 110px;
    height: 24px;
    margin-top: 40px;
    gap: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 200px;

}

.button2{
    background-color: transparent;
    border: none;
    font-weight:600;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
}

.topic{
    width: 440px;
    height: 300px;
    margin-top: 150px;
    margin-left: 200px;
}

@media screen and (max-width: 768px) {
    .headercontainer {
        width: 768px;
        display: flex;
        flex-direction: row;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .container {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .logo, .logo-name, .user-icon, .container-2 {
        margin: 10px 0;
    }
    .topic {
        width:absolute;
        margin: 20px auto;
        background-size: contain;
        
    }
    .container-2 {
        width: 80%;
        justify-content: space-around;
        margin-right: 0;
    }
    
}