.product-area { min-height: 60vh; }
.product-grid { display: grid; grid-template-columns: repeat(3, 1fr); gap: 1rem; }

@media screen and (max-width:768px) {
    .product-grid { grid-template-columns: repeat(1, 1fr); }    
    
}